body {
	margin: 0;
	font-family: 'Quicksand', sans-serif;
}



.button-block {
	display: grid;
	justify-content: center;
	gap: 10px;
	position: relative;
	grid-template-columns: repeat(3, 200px);
	grid-template-rows: 140px 30px 1fr;
	justify-items: center;
	align-items: center;
}

.button {
	text-decoration: none;
	color: #000;
	transition: all 0.5s ease;
	font-weight: 700;
}


.theme-dark a{
	color: #fff;
}

.theme-dark {
	color: #fff;
	background-color: rgb(36, 30, 30);
	min-height: 100vh;
	background-image: url('/img/background3.svg');
	background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.theme-light {
	color: #000;
	background-color: #fff;
	min-height: 100vh;
	background-image: url('/img/background4.svg');
	background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.theme-dark .theme-dark__button {
	color: #000;
	background-color: #fff;
	border-radius: 30px;
	padding: 10px;
	position: relative;
}

.theme-dark .theme-dark__button::after {
	position: absolute;
	content: "";
	right: -35px;
	top: 10px;
	width: 25px;
	height: 25px;
	background: url('/img/sun-icon.svg') no-repeat;
}

.theme-light__button {
	color: #fff;
	background-color: #000;
	border-radius: 30px;
	padding: 10px;
	position: relative;
}

.theme-light__button::after {
	position: absolute;
	content: "";
	right: -35px;
	top: 10px;
	width: 25px;
	height: 25px;
	background: url('/img/moon-icon.svg') no-repeat;
}

.container__movie-list {
	grid-column: 1 / 4;
	grid-row: 3;
}

.movie-list {
	list-style: none;
	padding: 0;
}


.info__block {
	grid-column: 1 / 5;
	margin: 50px auto;
}


.button:hover {
	font-size: 1.2em;
}

.movie-link {
	text-decoration: none;
	color: #000;
	display: flex;
	gap: 20px;
	align-items: center;
	padding: 10px;
	cursor: default;
	max-width: max-content;
	transition: all 0.5s ease;
}

.movie-link:hover {
	font-size: 1.2em;
}

.movie-link span:hover,
.movie-link img:hover {
	cursor: pointer;
}

.film-block {
	display: grid;
	grid-template-columns: repeat(3, 100px);
	justify-content: center;
	align-items: center;
	justify-items: center;
}

.container__movie-item {
	grid-column: 1 / 4;
	align-self: flex-start;
	text-align: center;
}

.lang__button {
	position: absolute;
	top: 20px;
	right: 20px;
}