body {
	margin: 0;

}

.button-block {
	display: grid;
	justify-content: center;
	gap: 10px;
	position: relative;
	grid-template-columns: repeat(4, 200px);
	grid-template-rows: 140px 20px 1fr;
	justify-items: center;
}

.theme-dark {
	color: #fff;
	background-color: rgb(36, 30, 30);
	min-height: 100vh;
}

.theme-light {
	color: #000;
	background-color: #fff;
	min-height: 100vh;
}

.theme-dark a{
	color: #fff;
}

.container__movie-list {
	grid-column: 1 / 4;
	grid-row: 3;
}

.movie-list {
	list-style: none;
	padding: 0;

}


.info__block {
	grid-column: 1 / 5;
	margin: 50px auto;
}

.button {
	text-decoration: none;
	color: #000;
	transition: all 0.5s ease;
}

.button:hover {
	font-size: 1.2em;
}

.movie-link {
	text-decoration: none;
	color: #000;
	display: flex;
	gap: 20px;
	align-items: center;
	padding: 10px;
	cursor: default;
	max-width: max-content;
	transition: all 0.5s ease;
}

.movie-link:hover {
	font-size: 1.2em;
}

.movie-link span:hover,
.movie-link img:hover {
	cursor: pointer;
}

.film-block {
	display: grid;
	grid-template-columns: repeat(3, 100px);
	justify-content: center;
	align-items: center;
	justify-items: center;
}

.container__movie-item {
	grid-column: 1 / 4;
	align-self: flex-start;
	text-align: center;
}